<p id="notice"><%= notice %></p>
font-family: "Times New Roman", Times, serif;

<div class="event">

<h1> <%= @event.title +"@" %> </h1>

<p class="location">
  <%= '@'+@event.location %>
</p>

<p>
  <strong>Starts at:</strong>
  <%= @event.starts_at %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<img class="image" src="<%= @event.image %>">

</div>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
