<p id="notice"><%= notice %></p>

<div class="event">

    <img class="image" src="<%= @event.image %>">
    <div class="info">
        <h1> <%= @event.title %> </h1>

        <p class="location">
        <%= @event.location %>
        </p>

        <p>
        <strong>Starts at:</strong>
        <%= @event.starts_at %>
        </p>

        <p>
        <strong>Description:</strong>
        <%= @event.description %>
        </p>
    </div>


</div>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
