<p id="notice"><%= notice %></p>

<div class="member"
    <h1>
        <%= @member.name %>
    </h1>

    <p>
    <img class="picture" src="<%= @member.picture %>">
    </p>

    <p>
    <strong>Major:</strong>
    <%= @member.major %>
    </p>

    <p>
    <strong>Joined on:</strong>
    <%= @member.joined_on %>
    </p>

    <p>
    <strong>Position:</strong>
    <%= @member.position %>
    </p>
</div>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
