<p id="notice"><%= notice %></p>

<div class="member"
    <div>
        <h1>
            <%= @member.name %>
        </h1>
        <br>
        <p class="picture">
        <%= image_tag @member.picture_url(:large).to_s %>
        </p>
    </div>
</div>

<div class="info">
    <p>
    <%= @member.position %>
    <br>
    <strong>Major:</strong>
    <%= @member.major %>
    <br>
    <strong>Joined on:</strong>
    <%= @member.joined_on %>
    </p>
    <br>
    <%= link_to 'Edit', edit_member_path(@member) %> |
    <%= link_to 'Back', members_path %>

</div>

<br>
